@import "global.styl"
// Define all Global Variable
MainColor = orange

// // Import the temlate that will be filled out with the global variables
// @import "main.styl"

// // Make it easy to change the color scheme
// body.hannah
// 	@extend .main