// Define everything in terms of the global variables
.main
	// background-color MainColor
	font-family MainFont
	color FontColor
	img#profile-image
		border 1px solid MainColor
	#circles
		width 100%
		height auto
		text-align center
	.circle
		border 1px dashed MainColor
		border-radius 50%
		display inline-block
		circularity(CircleSize)
		// padding 50px
		cursor pointer
		i
			color MainColor
	.activity-icon
		background-color MainColor
	hr
		width 0px
		border-top 1px solid MainColor

